@CHARSET "UTF-8";
* {
	padding:0;
	margin:0;
}

a:link{text-decoration:none ; color:black;}
a:visited {text-decoration:none ; color:black;}
a:hover {text-decoration:underline ; color:black;}
a:active {text-decoration:none ; color:black;} 

.floormain {
	width:100%;
	height:100%;
	position:absolute;
}

.this-floor-room {
	width: 98%;
    min-width: 500px;
    margin-left: 1%;
    height: 30%;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 1%;
    background-color: #fafbff;    
    border: 1px solid #dbe1f0;
    border-radius: 4px;
}

.room-device-state {
	width:98%;
	min-width:640px;
	margin-left:1%;
	height:35%;
	margin-top:1%;
	margin-bottom:1%;
	overflow:hidden;
	overflow-y:auto;
	position:relative;
    background-color: #fafbff;
    border: 1px solid #dbe1f0;
    border-radius: 4px;
}

.floor-main-text {
	width: 94%;
    height: 40px;
    margin: 0px auto;
    border-bottom: 1px solid #e8ecf8;
}

.room-state-icon {
	background: url(/images/lierda/main-icon/room.png) no-repeat;
	background-size: 100% 100%;
	height:70%;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.floor-text-font {
	margin-top: 8px;
    font-family: PingFangSC-Regular;
    /*font-size: 14px;*/
    color: #444444;
    letter-spacing: 1.16px;
    text-align: left;
    margin-left: 10px;
    float: left;
}

.floor-main {
	width: 94%;
    margin-left: 3%;
	margin-top:5px;
	position:absolute;
	overflow-y: auto;
}

.room-state-pic {
	width:100%;
}
.room-light-ON {
	width:32%;
	margin-left:1%;
	float:left;
	height:100%;
	background:url(/images/lierda/roomstate/light-ON.png) no-repeat;
	background-size:100% 100%;
}
.room-light-OFF {
	width:32%;
	margin-left:1%;
	float:left;
	height:100%;
	background:url(/images/lierda/roomstate/light-OFF.png) no-repeat;
	background-size:100% 100%;
}
.room-light-none {
	width:32%;
	margin-left:1%;
	float:left;
	height:100%;
	background:url(/images/lierda/roomstate/device-none.png) no-repeat;
	background-size:100% 100%;
}

.room-air-ON {
	width:32%;
	margin-left:1%;
	float:left;
	height:100%;
	background:url(/images/lierda/roomstate/air-ON.png) no-repeat;
	background-size:100% 100%;
}
.room-air-OFF {
	width:32%;
	margin-left:1%;
	float:left;
	height:100%;
	background:url(/images/lierda/roomstate/air-OFF.png) no-repeat;
	background-size:100% 100%;
}
.room-air-none {
	width:32%;
	margin-left:1%;
	float:left;
	height:100%;
	background:url(/images/lierda/roomstate/device-none.png) no-repeat;
	background-size:100% 100%;
}

.room-person-ON {
	width:32%;
	margin-left:1%;
	float:left;
	height:100%;
	background:url(/images/lierda/roomstate/door-ON.png) no-repeat;
	background-size:100% 100%;
}
.room-person-OFF {
	width:32%;
	margin-left:1%;
	float:left;
	height:100%;
	background:url(/images/lierda/roomstate/door-OFF.png) no-repeat;
	background-size:100% 100%;
}
.room-person-none {
	width:32%;
	margin-left:1%;
	float:left;
	height:100%;
	background:url(/images/lierda/roomstate/device-none.png) no-repeat;
	background-size:100% 100%;
}

.room-state-font {
	color: whitesmoke;
    font-family: -webkit-pictograph;
    font-weight: bold;
}

.floor-controller {
	width: 94%;
    margin-left: 3%;
	margin-top:5px;
	position:absolute;
	overflow-y: auto;
}
.floor-controller-step {
	position: absolute;
	top:0;
    width: 100%;
    height: 40px;
    /*background-color: dimgrey;*/
}
.controller-step-font {
	color: white;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 40px;
}
.controller-step-first {
	position: relative;
    width: 50%;
    height: 100%;
    background-color: dimgrey;
    float: left;
}
.triangle-first-right {
	width: 0px;
    position: absolute;
    background: white;
    height: 0px;
    right: 0px;
    border-width: 20px 0px 20px 20px;
    border-color: transparent dimgray;
    border-style: solid;
}
.controller-step-second {
	width: 22%;
    height: 100%;
    background-color: purple;
    float: left;
    position: relative;
}
.controller-second-main {
	height:50%;
	width:100%;
	float:left;
	position:relative;
    text-align: center;
}
.controller-check {
    position: relative;
}
.controller-font {
    position: relative;
    font-size: 14px;
}
.triangle-second-left {
	width: 0px;
    position: absolute;
    background: purple;
    height: 0px;
    left: 0px;
    border-width: 20px 0px 20px 20px;
    border-color: transparent white;
    border-style: solid;
}
.triangle-second-right {
	width: 0px;
    position: absolute;
    background: white;
    height: 0px;
    right: 0px;
    border-width: 20px 0px 20px 20px;
    border-color: transparent purple;
    border-style: solid;
}
.controller-step-third {
	width: 28%;
    height: 100%;
    background-color: red;
    float: left;
    position: relative;
}
.controller-third-main {
	width:80%;
	height:40%;
	margin-left:10%;
	position:relative;
}
.controller-open-all {
	width:49%;
	height:100%;
	text-align:center;
	position:relative;
	color:white;
	background-color:skyblue;
	float:left;
}
.controller-close-all {
	width:49%;
	height:100%;
	text-align:center;
	position:relative;
	color:white;
	background-color:red;
	float:right;
}
.triangle-third-left {
	width: 0px;
    position: absolute;
    background: red;
    height: 0px;
    left: 0px;
    border-width: 20px 0px 20px 20px;
    border-color: transparent white;
    border-style: solid;
}
.triangle-third-right {
	width: 0px;
    position: absolute;
    background: white;
    height: 0px;
    right: 0px;
    border-width: 20px 0px 20px 20px;
    border-color: transparent red;
    border-style: solid;
}
.floor-controller-main {
	position: absolute;
    width: 100%;
	bottom:5px;
    /*background-color: dimgrey;*/
}
.controller-main-first {
	position:relative;
	/*width:49%;*/
	height:100%;
	border-top:1px solid skyblue;
	border-left:1px solid skyblue;
	border-bottom:1px solid skyblue;
	float:left;
}
.controller-main-second {
	position:relative;
	/*width:22%;*/
	height:100%;
	border-top:1px solid skyblue;
	border-left:1px solid skyblue;
	border-bottom:1px solid skyblue;
	float:left;
}
.controller-main-third {
	position:relative;
	/*width:28%;*/
	height:100%;
	border:1px solid skyblue;
	float:left;
}

.device-state-table {
	width: 100%;
    border-spacing: 0;
    text-align: center;
	border-bottom: 1px solid rgb(205, 205, 205);
    border-right: 1px solid rgb(205, 205, 205);
}

.device-state-body {
}

.table-switch-ON {
	height:20px;
	width:20px;
	margin: 1px auto;
	background:url(/images/lierda/roomstate/device-ON.png) no-repeat;
	background-size:100% 100%;
}

.table-switch-OFF {
	height:20px;
	width:20px;
	margin: 1px auto;
	background:url(/images/lierda/roomstate/device-OFF.png) no-repeat;
	background-size:100% 100%;
}

.table-switch-none {
	height:20px;
	width:20px;
	margin: 1px auto;
	background:url(/images/lierda/roomstate/device-none.png) no-repeat;
	background-size:100% 100%;
}

.table-user-ON {
	height:20px;
	width:20px;
	margin: 1px auto;
	background:url(/images/lierda/roomstate/user-ON.png) no-repeat;
	background-size:100% 100%;
}

.table-user-OFF {
	height:20px;
	width:20px;
	margin: 1px auto;
	background:url(/images/lierda/roomstate/user-OFF.png) no-repeat;
	background-size:100% 100%;
}

.table-user-none {
	height:20px;
	width:20px;
	margin: 1px auto;
	background:url(/images/lierda/roomstate/user-none.png) no-repeat;
	background-size:100% 100%;
}

.device-state-head th {
	border-top: 1px solid rgba(0, 0, 255, 0.6);
    border-bottom: 1px solid rgba(0, 0, 255, 0.6);
    border-left: 1px solid rgba(0, 0, 255, 0.6);
    background: powderblue;
    font-size: 8px;
    line-height: 20px;
}
.last-th {
	border-right: 1px solid rgba(0, 0, 255, 0.6);
}

.unclickth {
	background: url(/images/lierda/main-icon/unsort.png) no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    margin-top:2px;
    float: right;
    border: none;
}
.clickupth {
	background: url(/images/lierda/main-icon/upsort.png) no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    margin-top:2px;
    float: right;
    border: none;
}
.clickdownth {
	background: url(/images/lierda/main-icon/downsort.png) no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    margin-top:2px;
    float: right;
    border: none;
}

.device-state-table td {
	border-top: 1px solid rgb(205, 205, 205);
    border-left: 1px solid rgb(205, 205, 205);
}


/*devicePower.jsp*/
.devicePower {
	width:100%;
	height:100%;
}